/* CSS Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

@font-face{
	font-family:"Fuente";
	src: url("fuente.woff");

}

#container {
	font-family: Fuente;
	width: 960px; 
	background: linear-gradient(bottom,rgb(226,218,153),rgb(222,219,205));
	background: -webkit-linear-gradient(bottom,rgb(226,218,153),rgb(222,219,205));
	background: -moz-linear-gradient(bottom,rgb(226,218,153),rgb(222,219,205));
	background: -o-linear-gradient(bottom,rgb(226,218,153),rgb(222,219,205));
	opacity: 0.9;
	margin-left:auto; 
	margin-right:auto;
}
#encabezado{
	height: 120px;
	opacity: 0.8;
	background: linear-gradient(right,rgb(52,40,0),rgb(44,35,2));
	background: -webkit-linear-gradient(right,rgb(52,40,0), rgb(44,35,2));
	background: -moz-linear-gradient(right,rgb(52,40,0), rgb(44,35,2));
	background: -o-linear-gradient(right,rgb(52,40,0), rgb(44,35,2));
	color: white;
}

#encabezado a:link{
	margin-left: 5px;
	text-decoration:none;
	  color:rgb(226,218,153);
	  font-size: 10px;
}

#lform, #rform{
	float: left;
	opacity:0.9;
	
	border-radius: 20px 20px;
	-webkit-border-radius: 20px 20px;  
	-moz-border-radius: 20px 20px;  
	background: rgb(115,175,182);
    width: 300px;
	margin-top: 10px;
    margin-left:100px;
	margin-right:auto;
	padding: 10px;
}

#lform legend, #rform legend{
	font-weight: bold;
	font-size: 40px;
	width: 300px;
	color: rgb(108,83,83);
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom: 1px solid rgb(222,219,205);
}

#lform p label, #rform p label{
	margin-left: 12px;
	font-size: 25px;
	color: rgb(108,83,83);
	opacity: 0.85;
}

input[type=text]{
	margin-left: 10px;
	margin-right: 10px;
	margin-top:0px;
	margin-bottom: 10px;
	width: 280px;
	height:40px;
	border-radius: 10px 10px;
	border: 0px;
    background: rgb(216,217,206);
	color: rgb(108,83,83);
	font-size: 20px;
}
input[type=password]{
	margin-left: 10px;
	margin-right: 10px;
	margin-top:0px;
	margin-bottom: 10px;
	width: 280px;
	height:40px;
	border-radius: 10px 10px;
	border: 0px;
    background: rgb(216,217,206);
	color: rgb(108,83,83);
	font-size: 20px;
}
input[type=submit]{
	border: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 110px;
	height: 40px;
	border-radius: 10px 10px;
	background: rgb(95,156,159);
	color: rgb(226,218,153);
	font-weight: bold;
	font-size: 15px;
	
}
#formularios{
	height: 470px;
}
#apagar{
margin-top: 70px;
 margin-left: 920px;
 }
#apagar a{
	display:block;
	height: 30px;
	width: 30px;
	float: bottom;
	
}


#right_column{
	min-height: 100px;
	background: rgb(127,184,191);
	color: white;
	float: right;
	margin-right: 20px;
	margin-top: 0px;
	margin-left:0px;
	border-radius: 20px 20px;
	-webkit-border-radius: 20px 20px;  
	-moz-border-radius: 20px 20px;
	padding: 10px;
	padding-right:0px;
	padding-top:0px;
	padding-left: 0px;
	width: 300px;
}
#perfil{
	height: 100px;
	width:280px;
	margin:10px;
	background:transparent;
	border-radius: 5px 5px;
	font-size: 20px;
	margin-bottom: 10px;
	
}
#perfil [type=button]{
	background:white;
	width: 100px;
	height:100px;
	margin-left: 0px;
	margin-top: 0px;
	border: 0px;
	border-radius: 5px 5px;
}
#perfil a{
	color: rgb(226,218,153);
}

ul#sidebar{
  list-style-type:none;
  width: 300px;
  font-size:30px;
  padding-left:0px;
 margin-top: 10px;
 margin-bottom:10px;
 }
 
ul#sidebar li{
	width:200px;
	margin:0px;
	height: 40px; 
	text-align: center;
}

#sidebar a{
		display:block;
		width:300px;
		height:40px;
}
ul#sidebar a:link, ul#sidebar a:active,ul#sidebar a:visited {
	  padding-top:8px;
	  text-decoration:none;
	  color:rgb(226,218,153);
	
 }
 
#sidebar a:hover, #sidebar a.selected {
	  background: rgb(95,156,159);
	  cursor: pointer;
	  font-weight:bold;
 }

#left_column{
		margin-top:15px;
		margin-left: 20px;
		min-height:500px;
		margin-right:0px;
		width: 590px;
		background: rgb(95,156,159);
		color: white;
		border-radius: 20px 20px;
		-webkit-border-radius: 20px 20px;
		-moz-border-radius: 20px 20px;
		padding: 10px;
}


#nueva{
	height: 180px;
	border-bottom: 1px solid rgb(115,175,182);
}
#nueva p{
	font-size: 25px;
	color: rgb(108,83,83);
	padding-left: 10px;
}

#nueva input[type=submit]{
	border: 0px;
	margin-left: 450px;
	width: 110px;
	height: 30px;
	border-radius: 10px 10px;
	background: rgb(115,175,182);
	color: rgb(226,218,153);
	font-weight: bold;
	font-size: 15px;	
}
#nueva textarea{
	margin-top:7px;
	margin-left:10px;
	width: 550px;
	height:90px;
	border-radius: 10px 10px;
	border: 0px;
	padding:5px;
    background:white;
	color: rgb(108,83,83);
	font-size: 15px;
}

#post{
	background: white;
	min-height: 0px;
	border-radius:10px 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}

#header{
	height: 30px;
	border-bottom: 1px solid rgb(222,219,205);
}
#header a:link{
	color: rgb(108,83,83);
	font-size: 20px;
	opacity:0.9;
	text-decoration:none;
	font-weight:bold;
	margin-left: 5px;
	margin-top: 15px;
}
#cuerpo{
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 10px;
	font-size: 15px;
	min-height: 0px;
	color: rgb(108,83,83);
}
#footer{
	list-style-type:none;
	height: 35px;
	border-top: 1px solid rgb(222,219,205);
	padding-bottom: 7px;
}


#footer span{
	font-size: 15px;
	color: rgb(108,83,83);
	margin-top:10px;
	margin-left: 25px;
	height: 30px;
	margin-top:15px;
	
}
#footer a:link{
	height: 25px;
	width:25px;
	display: block;
	margin-bottom: 25px;
	margin-left:540px;
	opacity:0.7;
	background-image: url("likes.png");
}

#footer a:hover{
	background-image: url("likes.png");
	background-position:bottom;
}

h1{
	font-size: 25px;
	color: rgb(108,83,83);
}

#busqueda{
	border-bottom: 1px solid rgb(115,175,182);
	margin-bottom: 10px;
	padding-bottom:10px;
	padding-left: 10px;
}
#busqueda input[type=submit], #solicitudes input[type=submit]{
	border: 0px;
	width: 150px;
	height: 30px;
	border-radius: 10px 10px;
	background: rgb(115,175,182);
	color: rgb(226,218,153);
	font-weight: bold;
	font-size: 15px;	
}

#solicitudes{
	border-bottom: 1px solid rgb(115,175,182);
	margin-bottom: 10px;
	padding-bottom:10px;
	padding-left: 10px;
}

#amigos{
	padding-left: 10px;
}
#usuarios{ margin-top: 8px;
	font-size: 20px;
}
#usuarios a:link{
	margin-top: 8px;
	  padding-top:8px;
	  text-decoration:none;
	  color:rgb(226,218,153);
}



